html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

nav li {
  display: flex;
  justify-content: flex-end;
}

li a {
  color: #3783a3;
  font-size: 1.5rem;
  margin-top: 0;
}

main {
  display: grid;
}

aside p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 2rem;
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

header h2 {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
}
