html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

nav li {
  display: flex;
  justify-content: flex-end;
}

li a {
  color: #3783a3;
  font-size: 1.5rem;
}

main {
  display: grid;
  grid-template-areas:
  "banner banner banner"
  "viewing gravel symbolism"

}
